<h1>Welcome to the <%= @group.name %> Gallery</h1>

<h2><%= @group.description %></h2>

<h4>Group Members:</h4>

<ul>
  <% @members.each do |member| %>
    <li><%= member.email %></li>
  <% end %>
</ul>


